body {
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 100%;
    height: 100%;
    margin: 0%;
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.left {
    position: initial;
    background-color: rgb(219, 198, 219);
    padding: 10px;
}
.right {
    position: initial;
    background-color: rgb(194, 223, 198);
    padding: 10px;
}

